<Settings>
  <RequiredRoot>.</RequiredRoot>
  <Core>
    <ContextMenu>false</ContextMenu>
    <DrawingTrace>false</DrawingTrace>
    <UseToStringForToolTip>false</UseToStringForToolTip>
    <ClearCacheAfterDrawing>true</ClearCacheAfterDrawing>
    <DisableRegionInvalidation>true</DisableRegionInvalidation>
  </Core>
</Settings>