td,p {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   line-height: 15px;
}
.header {"
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #990000;
   font-weight: bold;
}
.error {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #990000;
   background-color: #FFFFFF;
   text-align: center;
}

