@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
/*------------------------------------------------
    project:    수질오염 방제정보 시스템
    created:    2013-10-17
------------------------------------------------ */

/*-- reset --------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:'none'}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:'none'}
input,select,textarea,button{vertical-align:middle}
address,caption,cite,code,dfn,em,var{font-weight:normal;font-style:normal}
textarea, input, a, a:hover, a:active, a:focus {outline: 0px!important;}
html {
		overflow: auto;
/* 		overflow-x: hidden; */
	}
html, body {height:100%;}

body{height:100%;}
/* body,th,td,input,select,textarea,button{font-size:12px;letter-spacing:0px; font-family:'돋움',dotum,sans-serif;line-height:1.5;color:#333;-webkit-text-size-adjust:none} */
body,th,td,input,select,textarea,button{font-size:12px;letter-spacing:0px; font-family:NanumGothic,'나눔고딕','Nanum Gothic','돋움',dotum,sans-serif;line-height:1.5;color:#333;-webkit-text-size-adjust:none}
a{color:#333;text-decoration:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
table td img{vertical-align:middle}
img{vertical-align:middle}

textarea{padding:5px;border:1px solid #e1e0de}
/* input[type=text]{padding:2px 0 3px 0;border:solid 1px #ccc;line-height:18px} */
input[type=text]{padding:2px 0 3px 5px;border:solid 1px #ccc;line-height:15px}
input[type=radio],input[type=checkbox]{width:13px;height:13px}
button,input[type=button]{border:0 none;_background-color:transparent;cursor:pointer}
select{border:1px solid #ccc;height:22px;}
label{cursor:pointer}
hr,caption{display:none}
legend{overflow:hidden;position:absolute;height:0;font-size:0;line-height:0;text-indent:-20000px}


/*-- general --------------------------------------*/
.clear:before,.clear:after{display:table;line-height:0;content:''}
.clear:after{clear:both}
.clear{zoom:1/* For IE 6/7 (trigger hasLayout) */}
.skip_link{position:absolute;left:-9999px}
.borderless {border-bottom:none;} 
.noneBackground{background-image:none;}
.blue{color:#006699}
.red{color:red}
.right{float:right}
.none{display:none;}
.txtalignL{text-align:left;}

/* IE Hack */
*html #container { height: 100%;}

/*-- layout --------------------------------------*/
#wrap {position:relative;min-width:1000px;height:100%;}
#header {width: 100%;background:url(/images/renewal2/top_menu_bg.png) repeat-x 0 0; height: 87px; z-index:999;}
#header_content{width:1200px;margin:0 auto;}
*:first-child+html #header{position:absolute;}
/* #footer {background-color:#555555; height:60px; padding-top:20px; width:100%; z-index:800; } */
#footer {background-color:#555555; bottom:-70px; display:block; height:60px; padding-top:20px; left:0; position:fixed; width:100%; z-index:800; }
#footer_content{width:1200px;margin:0 auto;}

#footer .footerToggleDiv {position:absolute; top:-14px; right:100px; cursor:pointer;}


/*-- header --------------------------------------*/
#header_content h1 { width:270px; top:7px; position:absolute; z-index:15; }
#header_content h1 span { width:300px; top:0px; left:300px; position:absolute; color:#fff; font-family:돋움; font-size:12px;}
.topSubNavi{position:absolute;  top:0; width:1200px;text-align:left; z-index:20}
.topSubNavi .naviDiv{position:absolute; right:0; width:367px; height:49px; background:url(/images/renewal2/top_curve.png) no-repeat; }
.topSubNavi .naviDiv ul{position:absolute;right:0}
.topSubNavi .naviDiv li { float:left; color:#fff;}
.topSubNavi .naviDiv a { display:block; height:20px; color:#333; }
.topSubNavi .naviDiv a {display:inline; height:auto; padding:0 0 0 10px; text-decoration:none; text-indent:0px;}
.topSubNavi .naviDiv a:visited{color:#333; text-decoration:none;}
.topSubNavi .naviDiv a:hover{color:#007db4; text-decoration:none;}
.topSubNavi .naviDiv a:active{color:#007db4; text-decoration:none;}
.topSubNavi .naviDiv a.active{ color:#007db4; text-decoration:none;}

.topSubNavi .naviDiv .navi_ul1{top:13px; right:50px; }
.topSubNavi .naviDiv .navi_ul1 li{margin:0 5px; line-height:22px;}
.topSubNavi .naviDiv .navi_ul2{top:60px; right:30px; }
.topSubNavi .naviDiv .navi_ul2 li{padding:0 5px; line-height:10px; border-right:1px solid #BDBDBD; }
.topSubNavi .naviDiv .navi_ul2 li.last{border-right:1px solid #FFFFFF; }
.topSubNavi .naviDiv .navi_ul1 li a{color:#fff; font-family:돋움; font-size:12px;}
.topSubNavi .naviDiv .navi_ul2 li a{color:#333; font-family:돋움; font-size:12px; }
.topSubNavi .naviDiv .navi_ul2 li a span{color:#ff3300; font-weight:bold; font-size:11px; }

.topSubNavi .naviDiv .myMenu{position:absolute;background-color:white; width:300px;left:-10px;top:27px;}
.topSubNavi .naviDiv .myMenu .myMenuTitle {margin-top:20px;clear:both;overflow: hidden;}
.topSubNavi .naviDiv .myMenu .myMenuList {margin:0 10px;clear:both;height:265px;}
.topSubNavi .naviDiv .myMenu .myMenuList .myMenuListContent {margin-top:10px; overflow-x:hidden;overflow-y:auto;background:none repeat scroll 0 0 #f5f4f4;}

.topSubNavi .naviDiv .alrim{position:absolute;background-color:white; width:510px;height:400px;left:-240px;top:27px;}
.topSubNavi .naviDiv .alrim .alrimTitle {margin-top:20px;clear:both;overflow: hidden;}
.topSubNavi .naviDiv .alrim .alrimList {margin:0 10px;clear:both;height:365px;}
.topSubNavi .naviDiv .alrim .alrimList .alrimListContent {margin-top:10px; height:344px; overflow-x:hidden;overflow-y:auto;background:none repeat scroll 0 0 #f5f4f4;}

.top_info_point { color:#FFE400; font-weight:bold; }

#gnbArea {margin:0 auto; position:relative; width:1200px; height:41px; padding-top:45px; display:inline-block; text-indent:inherit; z-index:10;font-weight:600;}
#gnbArea .mainLogo { width:210px; padding:0 10px 0 20px; height:20px; float:left; margin-top:5px; }
#gnbArea:after { content:""; display:block; clear:both; }
#gnbArea ul { position:relative; float:left;}
#gnbArea li { float:left; width:120px; text-align:center; padding:10px 0;}
#gnbArea li a { display:block; color:#5D5D5D; font-family:NanumGothic; font-weight:bold; font-size:15px;  line-height:10px; border-right:1px solid #BDBDBD;}
#gnbArea li.last > a { border-right:1px solid #FFFFFF;}
#gnbArea li.on > a { color:#33A6E7; }
#gnbArea li li { float:none; width:auto; text-align:left;}
#gnbArea ul ul {position:absolute; top:30px; margin-left:-9px; padding:0 5px 0 4px; display:none; white-space:nowrap; background:url(/images/renewal2/gnb_box.png) no-repeat; width:130px; height:195px; z-index:999;}
#gnbArea ul ul li {padding:8px 0;}
#gnbArea ul ul li.on {background:#23B8D1;}
#gnbArea ul ul li a {font-size:12px; font-family:dotum; color:#5D5D5D; padding:0 0 0 8px; border:0; margin:0 0 0 12px; line-height:12px; font-weight:normal; white-space:normal; background:url(/images/renewal2/bullet_off.png) 0 30% no-repeat;}
#gnbArea ul ul li.on a {color:#FFFFFF; background:url(/images/renewal2/bullet_on.png) 0 30% no-repeat;}
#gnbArea ul ul li.gm_title {height:22px; padding:15px 0; text-align:center; margin-bottom:13px; background:none; color:#0064d1; font-size:16px;}

.gnb{width:157px; height:32px; margin-left:4px;border:none;background:url(/images/renewal/gnb_sprite.gif) no-repeat;text-align:center;cursor:pointer;font-size:0; line-height:999px;}

#gnbArea li ul {display:none;}
#gnbArea li.on ul {display:block;}


#mainTab {list-style:none; width:100%; height:33px; border-bottom:2px solid #747474; margin:13px 0 2px 0;}
#mainTab li {float: left; height:35px; line-height:35px; width:275px; overflow:hidden; position:relative;}
#mainTab li.m1 {background:url(/images/renewal2/main_tab1_off.png) no-repeat; cursor:pointer;}
#mainTab li.m1:hover, #mainTab li.m1.on {background:url(/images/renewal2/main_tab1_on.png) no-repeat;}
#mainTab li.m2 {background:url(/images/renewal2/main_tab2_off.png) no-repeat; cursor:pointer;}
#mainTab li.m2:hover, #mainTab li.m2.on {background:url(/images/renewal2/main_tab2_on.png) no-repeat;}

#mainTab li.li_space {width:4px; border:0; padding:0;}

#main_div_m2 {margin-bottom:80px;}
#main_div_m2 #ifrm {min-width:1250px; min-height:685px;}


/*-- copyright --------------------------------------*/
#copy_ci {width:120px; height:31px; margin-left:20px; background-image: url(/images/renewal2/copy_ci.png); background-repeat:no-repeat; float:left}
#copy_family {height:31px; float:right;}
.copy_family {width:150px; color: #101010;}

#copy_address_field {width:700px; height:30px; margin-left:170px;}
#copy_address {font-size:11px; line-height:11px; padding-top:2px; font-weight:bold; text-align:left; color:#CFCFCF;}
#copy_copy {font-size:11px; line-height:11px; margin-top:6px; font-weight:bold; text-align:left; color:#CFCFCF;}


/*-- btn --------------------------------------*/


/*-- 파폭핵 --------------------------------------*/
@-moz-document url-prefix(){

}

/*-- 크롬핵 --------------------------------------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}
