@chartset "utf-8";

/* YBH(2010~) */

@import url("reset.css");

/* default */
a {color:#333; text-decoration:none;}

ul {list-style:none;}

select {margin:0; height:22px;}
html>/**/body select {font-size:12px; font-family:'굴림';}

/* layout */
body {repeat-x 0 55px;}
#wrap {width:1230px; margin:0 auto; padding:10px; font-size:75%; font-family:'굴림';}
#header {height:115px;}
#container {clear:both;}
#container:after {display:block; clear:both; height:0; content:"."; visibility:hidden;}
#container .snb {float:left; width:175px;}
#container #content {float:left; width:1025px; padding:0 0 20px 30px;}
#container #content:after {display:block; clear:both; height:0; content:"."; visibility:hidden;}
#footer {clear:both; padding-top:15px;}
*html #container #content {height:1%;}
*:first-child+html #container #content {height:1%;}

/* common */
.hidden,
.hidden_phrase {overflow:hidden; position:absolute; left:-10000px; width:0; height:0; visibility:hidden;}

.pad_b {padding-bottom:10px;}
.pad_t {padding-top:10px;}

.roundBox {}
.roundBox .top_l,
.roundBox .top_r,
.roundBox .top,
.roundBox .bot_l,
.roundBox .bot_r,
.roundBox .bot {font-size:0; line-height:0; background-repeat:no-repeat;}
.roundBox .top_l {padding-left:3px; background-position:left top;}
.roundBox .top_r {padding-right:3px; background-position:right top;}
.roundBox .bot_l {padding-left:3px; background-position:left bottom;}
.roundBox .bot_r {padding-right:3px; background-position:right bottom;}
.roundBox .top,
.roundBox .bot {height:3px; background-repeat:repeat-x;}

.roundBox1 .top_l,
.roundBox1 .top_r,
.roundBox1 .top,
.roundBox1 .bot_l,
.roundBox1 .bot_r,
.roundBox1 .bot {background-image:url(../images/common/box_roundGray.gif);}
.roundBox1 .top {background-position:0 -8px;}
.roundBox1 .bot_l {background-position:0 -3px;}
.roundBox1 .bot_r {background-position:right -3px;}
.roundBox1 .bot {background-position:left bottom;}
.roundBox1 .con {background:url(../images/common/box_roundGray_l.gif) repeat-y 0 0;}
.roundBox1 .con_r {padding:0 15px; background:url(../images/common/box_roundGray_r.gif) repeat-y right top;}

.roundBox2 .top_l,
.roundBox2 .top_r,
.roundBox2 .bot_l,
.roundBox2 .bot_r {background-image:url(../images/common/box_roundGray2.gif);}
.roundBox2 .top,
.roundBox2 .bot {height:2px; border:1px solid #ccc; background-color:#fff;}
.roundBox2 .top {border-width:1px 0 0;}
.roundBox2 .bot {border-width:0 0 1px;}
.roundBox2 .con {border:1px solid #ccc; border-width:0 1px; background-color:#fff;}

.roundBox3 .top_l,
.roundBox3 .top_r,
.roundBox3 .top,
.roundBox3 .bot_l,
.roundBox3 .bot_r,
.roundBox3 .bot {background-image:url(../images/common/box_roundGray3.gif);}
.roundBox3 .bot_l {background-position:0 -3px;}
.roundBox3 .bot_r {background-position:right -3px;}
.roundBox3 .top,
.roundBox3 .bot,
.roundBox3 .con {background-color:#ececec;}

.roundBox4 .top_l,
.roundBox4 .top_r,
.roundBox4 .bot_l,
.roundBox4 .bot_r {background-image:url(../images/common/box_roundGray4.gif);}
.roundBox4 .top,
.roundBox4 .bot {height:2px; border:1px solid #ccc; background-color:#fff;}
.roundBox4 .top {border-width:1px 0 0;}
.roundBox4 .bot {border-width:0 0 1px;}
.roundBox4 .con {border:1px solid #ccc; border-width:0 1px; background-color:#fff;}

.roundBlue .top_l,
.roundBlue .top_r,
.roundBlue .bot_l,
.roundBlue .bot_r {background-image:url(../images/common/box_roundBlue.gif);}
.roundBlue .top,
.roundBlue .bot {height:2px; border:1px solid #008fbf; background-color:#fff;}
.roundBlue .top {border-width:1px 0 0;}
.roundBlue .bot {border-width:0 0 1px;}
.roundBlue .con {border:1px solid #008fbf; border-width:0 1px; background-color:#fff;}


.overBox {overflow:auto; padding-bottom:1px;}
.overBoxY {overflow-y:scroll;}

/* =table */
.dataTable_broad {width:5200px; border-collapse:collapse; table-layout:fixed;}
.dataTable_broad th,
.dataTable_broad td {padding:6px 0 5px; border:1px solid #ccc; text-align:center; vertical-align:middle;}
.dataTable_broad th {color:#000000; font-weight:bold; background-color:#eaf1f6;}
.dataTable_broad tr.add td {background-color:#eee;}
.dataTable_broad td {padding:5px 0 4px; line-height:1.4;}

.dataTable {width:100%; border-collapse:collapse; table-layout:fixed;}
.dataTable th,
.dataTable td {padding:6px 0 5px; border:1px solid #ccc; text-align:center; vertical-align:middle;}
.dataTable th {color:#2f8bc0; font-weight:bold; background-color:#eaf1f6;}
.dataTable tr.add td {background-color:#eee;}
.dataTable td {padding:5px 0 4px; line-height:1.4;}

.dataTable .bgStyle {background-color:#e7e7e7;}

.dataTable td.num {text-align:right;}
.dataTable td.num span {padding-right:10px;}
.dataTable td.step {text-align:left;}
.dataTable td.step span {padding-left:15px;}
.dataTable td.txtP {text-align:left;}
.dataTable td.txtP span {padding-left:30px;}

.dataTable tr.noLine th,
.dataTable tr.noLine td {border-top:none;}

.basicTable {width:100%; border-collapse:collapse;}
.basicTable th,
.basicTable td {padding:9px 0 8px; border:1px solid #ccc; text-align:center; vertical-align:middle;}
.basicTable th {font-weight:bold; background-color:#dfe9fe;}
.basicTable td {background-color:#fff;}

/* =form */
.inputText {height:16px; font-size:12px; font-family:'굴림'; line-height:16px;}
.inputCheck {width:13px; height:13px; margin:0; padding:0; vertical-align:top;}
.inputRadio {width:13px; height:13px; margin:0; padding:0; vertical-align:top;}
.textArea {font-size:12px; font-family:'굴림'; line-height:1.4;}

/* =paginate */
.paginate {padding-top:15px; text-align:center;}
.paginate li {display:inline; padding:0 3px;}
.paginate li a {display:inline-block; padding:2px;}
.paginate li a:focus,
.paginate li a:hover,
.paginate li a:active {color:#007db6;}
.paginate li em {display:inline-block; padding:2px; font-style:normal; font-weight:bold;}

/* header */
#header h1 {float:left; height:41px; margin:4px 29px 0 0;}

#header .lnb {float:right;}
#header .lnb p,
#header .lnb ul,
#header .lnb li {float:left;}
#header .lnb p {height:22px; padding:4px 15px 0 17px; font-size:11px; background:url(../images/common/bg_lnb_p.gif) no-repeat 0 0;}
#header .lnb ul.link,
#header .lnb ul.allView {padding-left:1px;}

#header .gnb {overflow:hidden; float:left; position:relative; width:924px; height:58px; padding-left:205px;}
#header .gnb li {float:left; width:137px; font-weight:bold; font-size:14px; font-family:"돋움"; line-height:1; vertical-align:top;}
#header .gnb li a {float:left; width:137px; height:31px;}
#header .gnb li ul {position:absolute; top:31px;}
*html #header .gnb li ul {width:800px;}
#header .gnb li li {width:auto; padding-left:36px;}
#header .gnb li li a {width:auto; height:20px; padding:6px 12px 0; background:url('../images/common/bg_gnbMenu.gif') no-repeat 0 50%;}

#header .gnb ul.sublist1 {left:200px;}
#header .gnb ul.sublist2 {left:215px;}
#header .gnb ul.sublist3 {left:300px;}
#header .gnb ul.sublist4 {left:550px;}
#header .gnb ul.sublist5 {left:430px;}

/* footer */
#footer .roundBox .top_l,
#footer .roundBox .top_r,
#footer .roundBox .bot_l,
#footer .roundBox .bot_r {background-image:url(../images/common/box_roundGray2.gif);}
#footer .roundBox .top,
#footer .roundBox .bot {height:2px; border:1px solid #d6d6d6; background-color:#fff;}
#footer .roundBox .top {border-width:1px 0 0;}
#footer .roundBox .bot {border-width:0 0 1px;}
#footer .roundBox .con {height:50px; padding:14px 15px 0 55px; border:1px solid #d6d6d6; border-width:0 1px;}

#footer h1 {float:left;}
#footer div.vcard {float:left; padding:7px 0 0 70px; font-size:11px;}
#footer div.vcard p {padding-bottom:3px;}
#footer div.link {float:right;}

/* loginAfter_main */
.loginAfter_main #container #content {float:none; width:auto; padding:0 0 20px 0;}

.mainSection {}
.mainSection h2 {padding:0 0 9px 13px; color:#117bca; vertical-align:top; background:url(../images/common/bu_square.gif) no-repeat 0 2px;}

.mainSection .alertBox {float:left; width:220px;}
.mainSection .alertBox .roundBox {margin-bottom:20px;}
.mainSection .alertBox .con {height:96px; padding-top:6px;}
.mainSection .alertBox .con .tab {float:right;}
.mainSection .alertBox .con .tab li {float:left; padding-right:10px;}
.mainSection .alertBox .con .tab li .on {border-bottom:2px solid #ccc;}
.mainSection .alertBox .con h2 {height:20px; padding:8px 0 0 26px; background:none;}
.mainSection .alertBox .alertImg {float:left; width:84px; padding:8px 0 0 0; text-align:center;}
.mainSection .alertBox .alertCon {float:left;}
.mainSection .alertBox .alertCon p {padding:4px 0 3px 10px; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 50%;}
.mainSection .alertBox .info {}
.mainSection .alertBox .info h2 {}
.mainSection .alertBox .info p {}
.mainSection .alertBox .mainSelect {padding: 10px 0;}
.mainSection .alertBox .overBox {overflow:auto; width:220px; height:444px; border:1px solid #ccc; border-width:1px 0;}
.mainSection .alertBox .overBox .selectTh select {width:110px;}

.mainSection .mapArea {float:left; width:757px; margin:0 5px 0; padding:2px 10px 10px; border:1px solid #ccc;}
.mainSection .mapArea .roundBox {margin-bottom:8px;}
.mainSection .mapArea .con ul {width:440px; height:30px; margin:0 auto; padding:8px 0 0 17px;}
.mainSection .mapArea .con li {float:left; padding:0 10px;}
.mainSection .mapArea .con li.first {padding-top:6px;}
.mainSection .mapArea .con li select {width:120px;}
.mainSection .mapArea .map {height:626px; margin-top:10px;}

.mainSection .todaySta_board {float:left; width:220px;}
.mainSection .todaySta_board .todaySta {margin-bottom:40px; padding:10px 4px 5px; border:1px solid #ccc;}
.mainSection .todaySta_board .todaySta h2 {padding-left:0; background:none;}
.mainSection .todaySta_board dl {height:75px; padding:4px 0 0 4px; border:1px solid #ccc;}
.mainSection .todaySta_board dt {float:left; width:105px; height:20px; padding:5px 4px 0 0; color:#fff; text-align:center; background:url(../images/content/bg_popupMain_tit.gif) no-repeat 0 0;}
.mainSection .todaySta_board dd {float:left; width:79px; height:20px; padding:5px 0 0 13px; background:url(../images/content/bg_popupMain_con.gif) no-repeat 0 0;}
.mainSection .todaySta_board .list {overflow:hidden; clear:both; position:relative; height:100px; margin-bottom:35px;}
.mainSection .todaySta_board .list li {float:left; padding:6px 0 5px 25px; background:url(../images/common/bu_arrowOrange_r.gif) no-repeat 10px 10px;}
.mainSection .todaySta_board .list li a {
	float:left; width:175px; vertical-align:top;
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.mainSection .todaySta_board .listGallery {clear:both; position:relative;}
.mainSection .todaySta_board .listGallery li {display:inline;}
.mainSection .todaySta_board .listGallery li img {width:68px !important; height:59px !important; border:1px solid #ccc;}
.mainSection .todaySta_board .list .btn,
.mainSection .todaySta_board .listGallery .btn {position:absolute; top:0; right:0;}
.mainSection .todaySta_board .list .btn a,
.mainSection .todaySta_board .listGallery .btn a {float:left; padding:3px 0;}
.mainSection .todaySta_board .firstGallery {margin-bottom:50px;}

/* content */
#container .snb {width:174px; padding-bottom:75px; background:#cfcfcf url('../images/menu/snb_bg.gif') no-repeat 0 bottom; }
#container .snb li {vertical-align:top;}
#container .snb li a {display:block;}
#container .snb li img {vertical-align:top;}
#container .snb li ul {width:162px; margin:1px 0 0 6px; padding-bottom:15px; background:#fff url('../images/menu/snb_bg_ul.gif') no-repeat 0 bottom;}
#container .snb li li.first {padding-top:15px; background:#fff url('../images/menu/snb_bg_ul.gif') no-repeat 0 top;}
#container .snb li li a {display:block; padding:4px 10px 4px 18px; color:#666; font-size:12px; background:url('../images/common/bu_dot_blue.gif') no-repeat 10px 8px;}
#container .snb li li a.on,
#container .snb li li a:focus,
#container .snb li li a:hover,
#container .snb li li a:active {color:#f60; background-image:url('../images/common/bu_dot_orange.gif');}
#container h3 {padding-bottom:10px;}
#container h4 {padding:20px 0 12px;}

h3.PointTit {float:left; padding:0 15px; color:#117bca; font-size:13px; vertical-align:top; background:url('../images/common/bu_pointTit.gif') no-repeat 0 2px}
p.locationSta {float:right; padding:7px 0 0 12px; color:#666; font-size:11px; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 11px;}

.formSearch dl {padding:9px 5px;border-bottom:1px solid #ccc;}
.formSearch dl:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .formSearch dl {height:1%;}
*:first-child+html .formSearch dl {height:1%;}
.formSearch dt,
.formSearch dd {float:left;}
.formSearch dt {padding:5px 10px 0; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 8px;}
.formSearch dd {padding:0 25px 0 0;}
.formSearch dd select {width:120px; height:22px;}
.formSearch dd input.inputText {width:150px;}
.formSearch dd select,
.formSearch dd input,
.formSearch dd img {vertical-align:middle;}
.formSearch dd ul.checkList,
.formSearch dd ul.checkList li {float:left; padding:0;}
.formSearch dd ul.checkList {padding:3px 0 0 10px;}
.formSearch dd ul.first {padding-left:0;}
.formSearch dd ul.checkList li input.inputCheck,
.formSearch dd ul.checkList li label {margin:0; padding:0; vertical-align:middle;}
.formSearch dd ul.checkList li label {padding:0 20px 0 5px;}
.formSearch dd span.space {padding:0 10px;}
.formSearch .lastList {padding:9px 5px;}
.formSearch .lastList:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .formSearch .lastList {height:1%;}
*:first-child+html .formSearch .lastList {height:1%;}
.formSearch .lastList dl {float:left; padding:0; border-bottom:none;}
.formSearch .lastList .btn {float:right;}

.showData .dataBtn {float:right; padding:20px 0 10px;}
.showData .dataBtn li {float:left; padding-left:5px;}
.showData .data_wrap {clear:both;}
.showData .data_wrap .overBox {height:340px; border:1px solid #ccc;}

.data_list_title,
.data_list_con {clear:both;}
.data_list_title:after,
.data_list_con:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .data_list_title,
* html .data_list_con {height:1%;}
*:first-child+html .data_list_title,
*:first-child+html .data_list_con {overflow:hidden;}
.data_list_title li,
.data_list_con li {float:left; padding:8px 0 7px; border:1px solid #ccc; text-align:center;}
.data_list_title li {border-width:1px 1px 1px 0; color:#2f8bc0; font-weight:bold; background-color:#eaf1f6;}
.data_list_con li {padding:6px 0 5px; border-width:0 1px 1px 0; line-height:1.4;}
.data_list_title li.first {border-width:1px;}
.data_list_con li.first {border-width:0 1px 1px 1px;}
.data_list_con_add li {background-color:#eee;}
.data_list_con li.nodata {float:none; border-width:0 1px 1px 1px;}

.con_titArea {_zoom:1; overflow:hidden; padding-bottom:4px;}

.con_tit_wrap {height:27px; padding-top:8px;}
.con_tit_wrap h3 {float:left !important; padding:0 !important;}
.con_tit_wrap p {float:right; padding:7px 0 0 12px; color:#666; font:11px '돋움', sans-serif; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 11px;}

/* content > 수질 오염 감시 */
.sub_waterpolmnt {}

.sub_waterpolmnt h3 {float:left;}
.sub_waterpolmnt p.location {float:right; padding:7px 0 0 12px; color:#666; font-size:11px; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 11px;}

.sub_waterpolmnt .formBox {clear:both;}

.sub_waterpolmnt .roundBox .top_l,
.sub_waterpolmnt .roundBox .top_r,
.sub_waterpolmnt .roundBox .top,
.sub_waterpolmnt .roundBox .bot_l,
.sub_waterpolmnt .roundBox .bot_r,
.sub_waterpolmnt .roundBox .bot {background-image:url(../images/common/box_roundGray.gif);}
.sub_waterpolmnt .roundBox .top {background-position:0 -8px;}
.sub_waterpolmnt .roundBox .bot_l {background-position:0 -3px;}
.sub_waterpolmnt .roundBox .bot_r {background-position:right -3px;}
.sub_waterpolmnt .roundBox .bot {background-position:left bottom;}
.sub_waterpolmnt .roundBox .con {background:url(../images/common/box_roundGray_l.gif) repeat-y 0 0;}
.sub_waterpolmnt .roundBox .con_r {padding:0 15px; background:url(../images/common/box_roundGray_r.gif) repeat-y right top;}

.search_all_wrap {clear:both; width:952px; padding:6px 35px; border:1px solid #cfcfcf;}
.search_all_wrap dl {overflow:hidden; padding:5px 0;}
.search_all_wrap dt {float:left; height:24px; padding:4px 6px 0 9px; background:url('../images/content/bg_search_wrap.gif') no-repeat 0 0;}
.search_all_wrap dt img {vertical-align:top;}
.search_all_wrap dd {float:left; height:25px; margin-right:10px; padding:3px 12px 0 0; vertical-align:top; background:url('../images/content/bg_search_wrap.gif') no-repeat right 0;}
.search_all_wrap dd input {vertical-align:top;}
.search_all_wrap dd select {vertical-align:top;}
.search_all_wrap dd img {display:inline-block; padding-top:3px; vertical-align:top;}
.search_all_wrap dd span {display:inline-block; padding:6px 4px 0; color:#cfcfcf;}

.search_all_wrap dd ul.checkList,
.search_all_wrap dd ul.checkList li {float:left; padding:0;}
.search_all_wrap dd ul.checkList {padding:6px 0 0 0px;}
.search_all_wrap dd ul.checkList li input.inputCheck,
.search_all_wrap dd ul.checkList li label {margin:0; padding:0; vertical-align:middle;}
.search_all_wrap dd ul.checkList li label {padding:0 15px 0 5px;}

.search_all_wrap .btn_search {float:right; padding-top:3px;}
.search_all_wrap .btnInBox {overflow:hidden;}
.search_all_wrap .btnInBox dl {float:left; width:825px;}
.search_all_wrap dd.time input {width:70px;}
.search_all_wrap dd .fixWidth7 {width:70px;} 
.search_all_wrap dd .fixWidth8 {width:80px;} 
.search_all_wrap dd .fixWidth9 {width:90px;} 
.search_all_wrap dd .fixWidth10 {width:100px;} 
.search_all_wrap dd .fixWidth11 {width:110px;} 
.search_all_wrap dd .fixWidth12 {width:120px;} 
.search_all_wrap dd .fixWidth13 {width:130px;} 
.search_all_wrap dd .fixWidth14 {width:140px;} 
.search_all_wrap dd .fixWidth15 {width:150px;} 

.sub_waterpolmnt .roundBox dl {padding:9px 5px;border-bottom:1px solid #ccc;}
.sub_waterpolmnt .roundBox dl:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .sub_waterpolmnt .roundBox dl {height:1%;}
*:first-child+html .sub_waterpolmnt .roundBox dl {height:1%;}
.sub_waterpolmnt .roundBox dt,
.sub_waterpolmnt .roundBox dd {float:left;}
.sub_waterpolmnt .roundBox dt {padding:5px 10px 0; background:url(../images/common/bu_arrowGray_r.gif) no-repeat 0 8px;}
.sub_waterpolmnt .roundBox dd {padding:0 25px 0 0;}
.sub_waterpolmnt .roundBox dd select {width:120px; height:22px;}
.sub_waterpolmnt .roundBox dd input.inputText {width:150px;}
.sub_waterpolmnt .roundBox dd select,
.sub_waterpolmnt .roundBox dd input,
.sub_waterpolmnt .roundBox dd img {vertical-align:middle;}
.sub_waterpolmnt .roundBox dd ul.checkList,
.sub_waterpolmnt .roundBox dd ul.checkList li {float:left; padding:0;}
.sub_waterpolmnt .roundBox dd ul.checkList {padding:3px 0 0 10px;}
.sub_waterpolmnt .roundBox dd ul.checkList li input.inputCheck,
.sub_waterpolmnt .roundBox dd ul.checkList li label {margin:0; padding:0; vertical-align:middle;}
.sub_waterpolmnt .roundBox dd ul.checkList li label {padding:0 20px 0 5px;}
.sub_waterpolmnt .roundBox .lastList {padding:9px 5px;}
.sub_waterpolmnt .roundBox .lastList:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .sub_waterpolmnt .roundBox .lastList {height:1%;}
*:first-child+html .sub_waterpolmnt .roundBox .lastList {height:1%;}
.sub_waterpolmnt .roundBox .lastList dl {float:left; padding:0; border-bottom:none;}
.sub_waterpolmnt .roundBox .lastList .btn {float:right;}

.sub_waterpolmnt h4 {float:left;}
.sub_waterpolmnt .dataBtn {float:right; padding:20px 0 8px 0;}
.sub_waterpolmnt .dataBtn li {float:left; padding-left:5px;}
.sub_waterpolmnt .p_total_cnt {clear:both; position:relative; top:-20px; margin-bottom:-8px;}
.sub_waterpolmnt .data_wrap {clear:both;}
.sub_waterpolmnt .data_wrap .overBox table {border:2px solid #ccc;}
/*.sub_waterpolmnt .data_wrap .overBox {width:px; height:340px; padding:0 1px 0 0; border:1px solid #ccc;}*/
/*.sub_waterpolmnt .data_wrap .overBox {*overflow-x:hidden; width:1024px; height:340px; padding:0 1px 0 0; border:1px solid #ccc;}*/
/* content > 수질 오염 감시 > 상황 관제 */
.page_situationctl .tit_time {padding:13px 15px 13px; color:#fff; text-align:center; background-color:#3893c5;}
.page_situationctl .tit_time h1 {font-size:15px;}
.page_situationctl .tit_time p {margin-top:-11px; text-align:right;}

/* content > 수질 오염 감시 > 상황 관제 > 통합감시 */
.inner_totalmnt .tit_time {display:block; color:#fff; text-align:center; background-color:#3893c5;}

.inner_totalmnt .notes_weather {height:20px; padding-top:10px;}
.inner_totalmnt .notesWrap {float:left;}
.inner_totalmnt .notes_weather p.tit {float:left; padding-right:5px;}
.inner_totalmnt .notes_weather p.txt {float:left; padding-left:5px; vertical-align:top;}
.inner_totalmnt .notes_weather p.txt img {height:18px; padding-top:1px; vertical-align:top;}
.inner_totalmnt .notes_weather p.txt span {display:inline-block; padding:5px 10px 0 0; font-size:11px;}
.inner_totalmnt .weatherWrap {float:right;}
.inner_totalmnt .weatherWrap img {vertical-align:top;}
.inner_totalmnt .weatherWrap span {display:inline-block; padding:5px 0 0 3px; font-weight:bold; vertical-align:top;}

.inner_totalmnt .riverMnt {padding:10px 0;}
.inner_totalmnt .riverMnt:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .inner_totalmnt .riverMnt{height:1%;}
*:first-child+html .inner_totalmnt .riverMnt {height:1%;}
.inner_totalmnt .listBox {float:left; width:277px; margin-left:7px; padding:11px 8px 9px 9px; border:1px solid #ccc;}
.inner_totalmnt .list_first {margin-left:0;}
#container .inner_totalmnt .listBox h2 {padding:0 0 9px 15px; background:url(../images/common/bu_square.gif) no-repeat 0 3px;}
.inner_totalmnt .listBox .weather {margin-top:-24px; padding-bottom:6px;}
.inner_totalmnt .listBox .weather img {height:18px !important; padding-right:3px; vertical-align:middle;}
.inner_totalmnt .listBox p {text-align:right;}
.inner_totalmnt .listBox .dataTable {border:2px solid #ccc;}
.inner_totalmnt .listBox .dataTable th {color:#333; background-color:#fff;}
.inner_totalmnt .listBox .dataTable thead th {color:#3893c5; font-size:11px;}
.inner_totalmnt .listBox .dataTable td {padding:6px 0 5px;}
.inner_totalmnt .listBox .dataTable td span {display:block; padding:6px 0 5px;}
.inner_totalmnt .listBox .dataTable td.num span {padding-right:10px;}
.inner_totalmnt .listBox .dataTable th.ico {padding-top:4px; padding-bottom:3px;}
.inner_totalmnt .listBox .graph {clear:both; height:107px; margin-top:5px; border:1px solid #ccc;}

.inner_totalmnt .otherMnt .con1 {float:left; width:310px;}
.inner_totalmnt .otherMnt .con1:after {display:block; overflow:hidden; clear:both;  height:0; visibility:hidden; content:".";}
* html .inner_totalmnt .otherMnt .con1 {height:1%;}
*:first-child+html .inner_totalmnt .otherMnt .con1 {height:1%;}
.inner_totalmnt .otherMnt .dataTable th {background-color:#eaf1f6;}
.inner_totalmnt .otherMnt .list_first {margin-bottom:10px;}
.inner_totalmnt .otherMnt .listBox h2.tits {margin-top:18px;}
.inner_totalmnt .otherMnt .listBox .dataTable td {padding:0;}
#container .inner_totalmnt .otherMnt .con1 .listBox h4 {padding:0 0 13px 15px;}
.inner_totalmnt .otherMnt .con1 .dataTable th {font-weight:normal;}
.inner_totalmnt .otherMnt .con1 .listBox {padding-bottom:11px;}
.inner_totalmnt .otherMnt .con1 .listBox .innerBox {clear:both;}

.inner_totalmnt .otherMnt .con2 {float:left; width:609px; height:484px; margin-right:9px; border:1px solid #ccc;}
.inner_totalmnt .otherMnt .select_menu {padding-bottom:5px;}
.inner_totalmnt .otherMnt .select_menu li {display:inline-block; *display:inline; *zoom:1; *padding-right:4px;}
.inner_totalmnt .otherMnt .select_menu li select {width:107px;}
.inner_totalmnt .otherMnt .select_menu li.align {width:55px; padding-right:0; text-align:right;}
.inner_totalmnt .otherMnt .con3 li.selectWidth1 select {width:147px;}
.inner_totalmnt .otherMnt .con3 li.selectWidth1 {padding-bottom:5px;}
.inner_totalmnt .otherMnt .con3 li.selectWidth2 select {width:147px;}
.inner_totalmnt .otherMnt .con3 li.selectWidth3 select {width:147px;}
.inner_totalmnt .otherMnt .con3 li.selectWidth4 select {width:147px;}
.inner_totalmnt .otherMnt .con3 .overBox {width:298px; height:424px; border:1px solid #ccc; border-width:1px 0;}
.inner_totalmnt .otherMnt .overBox {width:277px; height:344px;}
.inner_totalmnt .auction_info {overflow:hidden; clear:both; width:1183px; padding:10px 10px 10px; border:1px solid #ccc;}

/* content > 수질 오염 감시 > 상황 관제 > 수계별 통합감시 */
.inner_watersysmnt .tit_time {display:block; color:#fff; text-align:center; background-color:#3893c5;}
.inner_watersysmnt h1.tit {padding:13px 15px 0; color:#fff; font-size:15px; text-align:center; background-color:#3893c5;}
.sub_waterpolmnt .inner_watersysmnt .watersysmnt_wrap {clear:both; padding-top:10px;}
.sub_waterpolmnt .inner_watersysmnt .data_graph {float:left; width:242px; padding-right:15px;}
.sub_waterpolmnt .inner_watersysmnt .data .select_area {padding-bottom:3px;}
.sub_waterpolmnt .inner_watersysmnt .data .select_area select {width:119px;}
.sub_waterpolmnt .inner_watersysmnt .data .radio_area {padding:5px 0 0 2px;}
.sub_waterpolmnt .inner_watersysmnt .data .radio_area li {display:inline; padding-left:10px;}
.sub_waterpolmnt .inner_watersysmnt .data .radio_area li.first {padding-left:0px;}
.sub_waterpolmnt .inner_watersysmnt .data .radio_area li label {display:inline-block; padding-top:1px;}
.sub_waterpolmnt .inner_watersysmnt .overBox_data {overflow:none; float:left; width:140px; padding:0; height:211px;}
.sub_waterpolmnt .inner_watersysmnt .data table {border:2px solid #ccc;}
.inner_watersysmnt .objectBox {padding-top:15px;}
.sub_waterpolmnt .inner_watersysmnt .watersysmnt_con {float:left; width:949px; margin:0; padding:0;}
#container .inner_watersysmnt h2 {padding:10px 0 12px 15px; background:url(../images/common/bu_square.gif) no-repeat 0 13px;}

.watersysmnt_wrap .objectBox .roundBox2 .top_l,
.watersysmnt_wrap .objectBox .roundBox2 .top_r,
.watersysmnt_wrap .objectBox .roundBox2 .bot_l,
.watersysmnt_wrap .objectBox .roundBox2 .bot_r {background-image:url(../images/common/box_roundGray4.gif);}
.watersysmnt_wrap .objectBox .roundBox2 .top,
.watersysmnt_wrap .objectBox .roundBox2 .bot {height:2px; border:1px solid #ccc; background:#fff;}
.watersysmnt_wrap .objectBox .roundBox2 .top {border-width:1px 0 0;}
.watersysmnt_wrap .objectBox .roundBox2 .bot {border-width:0 0 1px;}
.watersysmnt_wrap .objectBox .roundBox2 .con {border:1px solid #ccc; border-width:0 1px; background:#fff;}

.inner_watersysmnt .watersysmnt_con .con_r {height:280px; padding:0 8px;}
.inner_watersysmnt .watersysmnt_con .notes {padding:10px 0; font-weight:bold; font-size:11px; text-align:right;}
.inner_watersysmnt .watersysmnt_con .notes li {display:inline; padding-right:10px;}
.inner_watersysmnt .watersysmnt_con .notes li span {font-size:12px;}
.alr_noRcv {color:;}
.alr_normal {color:green;}
.alr_interest {color:blue;}
.alr_caution {color:yellow;}
.alr_alert {color:#ffa600;}
.alr_over {color:red;}
.inner_watersysmnt .watersysmnt_con .list_data {float:left; width:290px; margin:10px 0; padding:0 10px;}
.inner_watersysmnt .watersysmnt_con .list_data .tit_weather {height:20px;}
.inner_watersysmnt .watersysmnt_con .list_data .tit_weather h2 {float:left; padding:0 0 0 12px !important; background-position:0 2px !important;}
.inner_watersysmnt .watersysmnt_con .list_data .tit_weather .weather {float:right;}
.inner_watersysmnt .watersysmnt_con .list_data .dataTable td {height:25px;}

.inner_watersysmnt .watersysmnt_con .innerBox h3 {width:600px; padding:10px 0 12px 15px; background:url(../images/common/bu_square.gif) no-repeat 0 13px;}
.inner_watersysmnt .watersysmnt_con .innerBox .overBox {float:left; width:200px; height:135px;}
.inner_watersysmnt .watersysmnt_con .innerBox .overBox .dataTable {border:2px solid #ccc;}
.inner_watersysmnt .watersysmnt_con .innerBox .overBox td {padding:8px 0 7px;}
.inner_watersysmnt .watersysmnt_con .lastList dl {padding-top:5px;}
.inner_watersysmnt .watersysmnt_con .lastList dt {padding-top:4px;}
.inner_watersysmnt .watersysmnt_con .firstBox {margin-bottom:10px;}
.inner_watersysmnt .watersysmnt_con .graph {_zoom:1; overflow:hidden; height:180px; padding:10px 0 0;}
.inner_watersysmnt .watersysmnt_con .graph ul {float:left; padding-left:8px; text-align:center;}
.inner_watersysmnt .watersysmnt_con .graph ul li {display:inline; padding-top:7px; text-align:center;}
/*.inner_watersysmnt .watersysmnt_con .graph img {display:block;} */
.inner_watersysmnt .watersysmnt_con .graph {text-align:center;}
.inner_watersysmnt .watersysmnt_con .graph img {display:inline-block; *display:inline; *zoom:1; padding-bottom:7px;} /* 임시 */

.inner_watersysmnt .watersysmnt_con .dataBox {overflow:auto; width:949px; height:451px; margin-top:15px; border:1px solid #ccc; border-width:1px 0;}

/* content > 수질 오염 감시 > 수질 정보 조회 > 하천 수질 조회 */
.inner_riverwater dl.firstDl dd select {width:85px;}

/* content > 수질 오염 감시 > 수질 정보 조회 > 하천 경보 수질 조회 */
.inner_riverwater3mw .roundBox dt {padding:5px 8px 0px;}
.inner_riverwater3mw .roundBox dd {padding:0px 10px 0px 0px;}
.inner_riverwater3mw .roundBox dd select {width:100px;}

/* content > 수질 오염 감시 > 수질 정보 조회 > 항공 감시 조회, 조류 예보 조회 */
.airmnt_inner,
.algacast_inner {padding:23px 0 0 10px;}
.airmnt_inner h4,
.algacast_inner h4 {margin:0 !important; padding:0 0 9px 13px !important;}
.buSqu_tit {padding:0 0 9px 13px; vertical-align:top; background:url(../images/common/bu_square.gif) no-repeat 0 2px;}
.airmnt_inner .spacing1 {margin-top:20px;}
.airmnt_inner .spacing2,
.algacast_inner .spacing1 {margin:20px 0 3px;}
.airmnt_inner .dataTable li,
.algacast_inner .dataTable li {padding:2px 0 2px 10px; text-align:left;}
.airmnt_inner .btnMenu,
.algacast_inner .btnMenu {padding-top:12px; text-align:right;}
.airmnt_inner .btnMenu li,
.algacast_inner .btnMenu li {display:inline;}
.algacast_inner .textArea {width:100%; height:40px;}

.algacast_inner .clearTable {clear:both}
.algacast_inner .spacing3 {margin-bottom:10px;}
.algacast_inner .centerBox {overflow:hidden; padding:10px 0;}
.algacast_inner .centerBox .list_box1 {float:left; width:650px; margin-right:10px;}
.algacast_inner .centerBox .list_box2 {float:left; width:355px;}
.algacast_inner .import_txt {font-size:11px; padding-left:10px;}

.algacast_inner .resultTable td {text-align:left; padding-left:10px; padding-right:10px; vertical-align:middle;}
.algacast_inner .resultTable td a {display:inline-block; padding-top:3px; vertical-align:top;}
.algacast_inner .resultTable td img,
.algacast_inner .resultTable td input {text-align:top;}

/* content > 수질 오염 감시 > 경보 관리 */
.sub_waterpolmnt .page_alarmmng .roundBox dd span.space {padding:0 10px;}
.sub_waterpolmnt .page_alarmmng .roundBox dd {padding:0 40px 0 0;}

.sub_waterpolmnt .page_alarmmng .data_wrap {padding:20px 0 0;}
.sub_waterpolmnt .page_alarmmng .data_wrap .overBox {width:auto;}
.sub_waterpolmnt .page_alarmmng .btnMenu {float:right; padding-top:10px;}

.sub_waterpolmnt .page_alarmmng td.choice input.inputCheck,
.sub_waterpolmnt .page_alarmmng td.choice label {vertical-align:middle;}
.sub_waterpolmnt .page_alarmmng td.choice label {padding:0 10px 0 4px;}
.sub_waterpolmnt .page_alarmmng td.choice label.last {padding-right:0;}

/* content > 수질 오염 감시 > 경보 관리 > 경보 발령 이력 조회 */
.sub_waterpolmnt .inner_alarmhis .roundBox dd.type {padding:0 0 0 40px;}
/* content > 수질 오염 감시 > 경보 관리 > 사고조치관리, 전파 대상 관리, 경보 기준 설정, 수질 기준 설정 */
.sub_waterpolmnt .inner_noticelist .data_wrap,
.sub_waterpolmnt .inner_alarmstand .data_wrap,
.sub_waterpolmnt .inner_accdntact .data_wrap,
.sub_waterpolmnt .inner_waterstand .data_wrap {position:relative; padding-top:45px;}
.sub_waterpolmnt .inner_noticelist .data_wrap .btnMenu,
.sub_waterpolmnt .inner_alarmstand .data_wrap .btnMenu,
.sub_waterpolmnt .inner_accdntact .data_wrap .btnMenu,
.sub_waterpolmnt .inner_waterstand .data_wrap .btnMenu {position:absolute; top:20px; right:0; padding:0;}
.sub_waterpolmnt .inner_noticelist .data_wrap .btnMenu li,
.sub_waterpolmnt .inner_alarmstand .data_wrap .btnMenu li,
.sub_waterpolmnt .inner_accdntact .data_wrap .btnMenu li,
.sub_waterpolmnt .inner_waterstand .data_wrap .btnMenu li {float:left; padding-left:5px;} 
/* content > 수질 오염 감시 > 경보 관리 > 전파 대상 관리 */
.dataNotes {margin:-22px 0 10px;}
/* content > 수질 오염 감시 > 경보 관리 > 상황접수.전파 일지 관리 */
.inner_alertMngList .listView,
.inner_alertMngList .listView_write {clear:both; padding-top:3px;}
.inner_alertMngList .listView table {border:2px solid #000000; border-width:2px 0;}
.inner_alertMngList .listView th {border:2px solid #000000; border-width:0 0 2px; background-color:#fff;}
.inner_alertMngList .listView td {border-width:0 0 1px 0;}
.inner_alertMngList .listView td.tit {padding-left:10px; padding-right:10px; text-align:left;}
.inner_alertMngList .listView p.btn {text-align:right;}

.inner_alertMngList .listView_write .popup_situReceive {padding:3px 0; border:2px solid #000000; border-width:2px 0;}

/* content > 수질 오염 감시 > 경보 관리 > 사전 조치 통보 */
.inner_alertSmsSend .smsForm {overflow:hidden; _height:1%; padding:30px 0 30px 30px !important;}
.inner_alertSmsSend .smsForm h4 {height:27px; padding:0 0 0 16px !important; color:#2f8bc0;}
.inner_alertSmsSend .smsForm .sms_write {float:left; width:290px;}
.inner_alertSmsSend .smsForm .sms_write_form {clear:both; width:194px; height:231px; background:url('../images/waterpolmnt/bg_alertSmsSend.gif')}
.inner_alertSmsSend .smsForm .sms_write_form textarea {width:149px; height:124px; border:0; background-color:#eaf2f6;}
.inner_alertSmsSend .smsForm .sms_write_form .txt {padding:37px 0 0 21px;}
.inner_alertSmsSend .smsForm .sms_write_form .byte {padding-top:30px; font-weight:bold; text-align:center;}

.inner_alertSmsSend .smsForm .sms_target {float:left; width:630px;}
.inner_alertSmsSend .smsForm .sms_target_form {clear:both; padding:18px 0 32px 0;}
.inner_alertSmsSend .smsForm .sms_target_form dt {width:50px; padding-left:20px; font-weight:bold;}
.inner_alertSmsSend .smsForm .sms_target_form dd {width:500px;}
.inner_alertSmsSend .smsForm .sms_target_form dd.first_form {height:33px; padding-top:3px;}
.inner_alertSmsSend .smsForm .sms_target_form dd.third_form {height:36px;}
.inner_alertSmsSend .smsForm .sms_target_form dd.second_form {width:400px;}

.inner_alertSmsSend .smsForm .sms_target_form dd .treeview .hitarea {cursor:pointer; float:left; width:18px; height:16px; margin-left:-16px;}
.inner_alertSmsSend .smsForm .sms_target_form dd ul {padding-top:5px;}
.inner_alertSmsSend .smsForm .sms_target_form dd ul#groupDiv {padding-top:0;}
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li {padding:3px 0pt 3px 16px; background:url('../images/tree/treeview-default-line.gif') no-repeat 0 0;}
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li.lastCollapsable, 
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li.lastExpandable {background-image:url('../images/tree/treeview-default.gif');}  
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li.lastCollapsable {background-position: 0 -111px}
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li.lastExpandable {background-position:-32px -67px}
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview div.lastCollapsable-hitarea,
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview div.lastExpandable-hitarea {background-position:0;}
.inner_alertSmsSend .smsForm .sms_target_form dd .treeview li.last {background-position:0 -1766px;}
.inner_alertSmsSend .smsForm .sms_target_form dd .expandable-hitarea{background:url('../images/tree/icon_folder_plus.gif') no-repeat 0 0;}
.inner_alertSmsSend .smsForm .sms_target_form dd .collapsable-hitarea{background:url('../images/tree/icon_folder_minus.gif') no-repeat 0 0;}

.inner_alertSmsSend .smsForm .sms_target_form dd .first_label {margin-right:25px;}
.inner_alertSmsSend .smsForm .sms_target_form dd.first_form input {vertical-align:top;}
.inner_alertSmsSend .smsForm .sms_target_form dd label {display:inline-block; padding-top:1px;}
.inner_alertSmsSend .smsForm .smsForm_btn {padding-top:43px; text-align:right;}
.inner_alertSmsSend .smsForm .smsForm_btn li {display:inline;}

/* content > 수질 오염 감시 > 방제 기술 정보 > 방제 기술 갤러리 */
.page_protecttechinfo p.locationSta {padding:7px 230px 0 12px;}
.sec_gallery {clear:both; *zoom:1; padding-top:4px;}
.sec_gallery .header {width:795px; padding-top:25px;}
.sec_gallery .photo_tit {padding:0 0 8px 0 !important;}
.sec_gallery .photo_time {float:right; font-size:11px;}
.sec_gallery .photo_img {clear:both;}
.sec_gallery .photo_img p.img img {width:795px !important; height:450px;}
.sec_gallery .photo_con {width:795px; padding:15px 0; line-height:1.4;}
.sec_gallery .photo_btn {width:795px; text-align:right;}

.sec_gallery .photo_list {position:relative; width:795px; background-color:#0a1926;}
.sec_gallery .photo_list p {position:absolute;}
.sec_gallery .photo_list p.btn_prev,
.sec_gallery .photo_list p.btn_next {top:20px; z-index:20;}
.sec_gallery .photo_list p.btn_prev {left:0; padding-left:11px;}
.sec_gallery .photo_list p.btn_next {right:0; padding-right:11px;}

.sec_gallery .photo_list .list {overflow:hidden; width:710px; margin:0 auto; padding:8px 0;}
.sec_gallery .photo_list .list li {float:left; padding:0 2px;}
.sec_gallery .photo_list .list li img {width:66px !important; height:53px !important; vertical-align:top;}
.sec_gallery .photo_list .list li a {float:left; border:3px solid #000;}
.sec_gallery .photo_list .list li a.on,
.sec_gallery .photo_list .list li a:focus,
.sec_gallery .photo_list .list li a:hover {border-color:#2f8bc0;}

.sec_gallery .photo_list .list li img {width:61px !important; height:46px !important;}


/* content > 상황관리 */
.sub_situationmng .formBox {clear:both;}
/* content > 상황관리 > 방제관리 통계 > 방제조치 통계 */
.sub_situationmng .inner_protstat select.day {width:90px;}
/* content > 상황관리 > 상황 관계 분석 */
.sub_situationmng .page_correlation .hour select {width:80px;}

.page_correlation .showData_graph {padding-top:20px;}
.page_correlation .showData_graph .graph {float:left; width:645px; padding-right:8px;}
.page_correlation .showData_graph .graph_p p {padding:6px 0 6px 35px; background:url('../images/common/bu_arrowGray_r.gif') no-repeat 25px 9px;}
.page_correlation .showData_graph .graph_box {height:420px; margin-top:8px; border:1px solid #ccc;}
.page_correlation .showData_graph .data_wrap {float:left; width:370px;}
.page_correlation .showData_graph .overBox {height:458px;} 

/* content > 상황관리 > 상황 관계 분석 > 이력관리 */
.inner_careerMng  .lastList .inputText {width:600px;}
.inner_careerMng .overBox {padding-top:10px;}

.inner_careerMng .view_result_box1 {clear:both;}
.inner_careerMng .view_result_box2 li {float:left; width:485px; margin:10px 0 0 10px; padding:10px; border:1px solid #ccc;}
.inner_careerMng .view_result_box2 li.first {margin-left:0;}
.inner_careerMng .view_result_box2 li p {padding-bottom:10px; font-weight:bold;}
.inner_careerMng .view_result_box2 li .over_con_table {overflow:auto; overflow-x:hidden; height:200px;}

/* content > 상황관리 > 상황 관계 분석 > 상황 관계 분석 */
.inner_inCorrelation .formWrap {clear:both;}
.inner_inCorrelation .formWrap .list1 {float:left; width:568px;}
.inner_inCorrelation .formWrap .list2 {float:left; width:84px; height:494px;}
.inner_inCorrelation .formWrap .list3 {float:left; width:373px;}
.inner_inCorrelation .formWrap .list1 .searchBox {overflow:hidden; padding:3px 20px 0;}
.inner_inCorrelation .formWrap .list1 .searchBox li.first {float:left;}
.inner_inCorrelation .formWrap .list1 .searchBox li {float:right;}
.inner_inCorrelation .formWrap .list1 .roundBox3 {margin-bottom:10px;}
.inner_inCorrelation .formWrap .list1 .over_con_dataTable {overflow:auto; overflow-x:hidden; height:545px;}

.inner_inCorrelation .formWrap .list2 p {height:90px; padding:130px 0 0 16px; color:#2f8bc0; line-height:1.6; background:url('../images/content/bg_inCorrelation.gif') no-repeat 6px 76px;}
.inner_inCorrelation .formWrap .list2 p.first {padding:160px 0 0 16px; background-position:6px 106px;}

.inner_inCorrelation .formWrap .list3 .roundBox3 p {padding:7px 0; font-weight:bold; text-align:center;}
.inner_inCorrelation .formWrap .list3 .tit {padding:10px 0; color:#2f8bc0; font-weight:bold;}
.inner_inCorrelation .formWrap .list3 .inputText {width:90px;}
.inner_inCorrelation .formWrap .list3 .over_con_dataTable1 {overflow:auto; overflow-x:hidden; height:191px;}
.inner_inCorrelation .formWrap .list3 .over_con_dataTable2 {overflow:auto; overflow-x:hidden; height:125px;}
.inner_inCorrelation .formWrap .list3 p {text-align:right;}

.inner_inCorrelation .inCorrelation_view1 {overflow:hidden; clear:both;}
.inner_inCorrelation .inCorrelation_view1 li {float:left; width:485px; margin:10px 0 0 10px; padding:10px; border:1px solid #ccc;}
.inner_inCorrelation .inCorrelation_view1 li.first {margin-left:0;}
.inner_inCorrelation .inCorrelation_view1 li .tit {padding-bottom:10px; font-weight:bold;}
.inner_inCorrelation .inCorrelation_view1 li .over_con_dataTable {overflow:auto; overflow-x:hidden; height:280px;}

.inner_inCorrelation .inCorrelation_view2 {padding-top:10px;}
.inner_inCorrelation .inCorrelation_view2 td {padding-left:10px; text-align:left;}
.inner_inCorrelation .inCorrelation_view2 p {padding-top:10px; text-align:center;}

/* content > 상황관리 > 운영 관리 */
.page_opermng .forms_gis {clear:both;}

.page_opermng .formBox1 {float:left; position:relative; width:383px; padding-right:3px;}
#container .page_opermng .formBox1 h4 {margin-bottom:6px; padding:9px 0 8px 10px; border:2px solid #ccc;}
.page_opermng .formBox1 .btn {position:absolute; right:0; top:8px; padding-right:15px;}
.page_opermng .formBox1 .btn li {float:left; margin-left:5px;}
.page_opermng .formBox1 .dataTable {border:2px solid #ccc;;}
.page_opermng .formBox1 th {line-height:1.2;}
.page_opermng .formBox1 td select {width:246px;vertical-align:middle;}
.page_opermng .formBox1 td input {width:240px;vertical-align:middle;}
.page_opermng .formBox1 td textarea {width:240px; height:295px;}

.page_opermng .form_gisBox {float:left; width:634px;}
.page_opermng .form_gisBox .formBox2 {margin-bottom:6px; padding:6px 7px 5px; background-color:#ececec;}
.page_opermng .form_gisBox .formBox2 select {width:120px;}
.page_opermng .form_gisBox .formBox2 select,
.page_opermng .form_gisBox .formBox2 input {vertical-align:middle;}

/* content > 상황관리 > 운영 관리 > 구간 관리 */
.page_opermng .inner_sectionmng .formBox1 td select {width:266px;}
.page_opermng .inner_sectionmng .formBox1 td input {width:260px;}
.page_opermng .inner_sectionmng .formBox1 td textarea {width:260px; height:295px;}
.page_opermng .inner_sectionmng .formBox1 td.tdInput1 input {width:120px;}
.page_opermng .inner_sectionmng .formBox1 td.tdInput2 input {width:109px;}
.page_opermng .inner_sectionmng .formBox1 td.tdInput2 img {vertical-align:middle;}
.page_opermng .inner_sectionmng .form_gisBox .gis {height:547px; *height:555px; border:1px solid #ccc;}
/* content > 상황관리 > 운영 관리 > 유량 관리 */
.page_opermng .inner_fluxmng .formBox1 p {margin-bottom:6px; padding:9px 0 8px 10px; border:2px solid #ccc;}
.page_opermng .inner_fluxmng .formBox1 .overBox {overflow:auto; height:470px}
.page_opermng .inner_fluxmng .formBox1 table {border-width:1px;}
.page_opermng .inner_fluxmng .formBox1 td input {width:165px;}
.page_opermng .form_overBox {float:left; width:634px;}
.page_opermng .form_overBox .formBox2 {margin-bottom:6px; padding:6px 7px 5px; background-color:#ececec;}
.page_opermng .form_overBox .formBox2 select {width:120px;}
.page_opermng .form_overBox .formBox2 select,
.page_opermng .form_overBox .formBox2 input {vertical-align:middle;}
.page_opermng .form_overBox .overBox {overflow:auto; height:509px;}

/* content > 상황관리 > 운영 관리 > 주요 지점 관리 */
.page_opermng .inner_hotpointmng .formBox1 td.tdInput1 input {width:99px;}
.page_opermng .inner_hotpointmng .formBox1 td.tdInput1 img {vertical-align:middle;}
.page_opermng .inner_hotpointmng .form_gisBox .gis {height:540px; *height:548px; border:1px solid #ccc;}
/* content > 상황관리 > 운영 관리 > 관측소 관리 */
.page_opermng .inner_stationmng .formBox1 td.tdInput1 input {width:99px;}
.page_opermng .inner_stationmng .formBox1 td.tdInput1 img {vertical-align:middle;}
.page_opermng .inner_stationmng .formBox1 td.curve input.textWidth {width:45px;}
.page_opermng .inner_stationmng .formBox1 td.curve select {width:60px;}
.page_opermng .inner_stationmng .formBox1 td.curve div {padding-top:3px;}
.page_opermng .inner_stationmng .form_gisBox .gis {height:544px; *height:546px; border:1px solid #ccc;}
.page_opermng .inner_stationmng .formBox1 td textarea {height:80px;}

/* popup */
.popup #wrap {width:auto;}

.popup h1.tit {padding-bottom:15px;}
.popup .writeForm {padding-top:10px;}
.popup .writeForm .dataTable td {padding:7px 15px 6px 10px; text-align:left;}
.popup .writeForm .dataTable td select {width:120px;}
.popup .writeForm .dataTable td input {vertical-align:middle;}
.popup .writeForm .dataTable td textarea {width:100%; height:100px;}
.popup .writeForm .btnMenu {float:right; padding-top:10px;}
.popup .writeForm .btnMenu li {float:left; padding-left:5px;}

/* popup > SMS 발송 */
.popup_sms #wrap {width:600px;}
.smsSection form {padding-top:15px;}
.smsSection form td {padding-left:8px; text-align:left;}
.smsSection form td select,
.smsSection form td input,
.smsSection form td img {vertical-align:middle;}
.smsSection form td label {padding-left:10px;}
.smsSection form td .inputCheck {margin-top:-2px;}
.smsSection form td .align {float:right; padding-right:8px}
.smsSection form td input.inputText {width:280px;}
.smsSection form td select {width:120px;}
.smsSection form td textarea {width:505px; height:80px;}
.smsSection form td .smsSelect li {display:inline; padding-right:20px;}
.smsSection form td.date input.inputText {width:140px;}
.smsSection form td.date select {width:60px;}
.smsSection form .btn {padding-top:10px; text-align:right;}
.smsSection form .btn li {display:inline;} 
.smsSection form.target {padding-top:0;}
.smsSection .btnMenu {padding-top:10px; text-align:center;}
.smsSection .btnMenu li {display:inline;} 

/* popup > 통합감시 */

.popup #wrap {}
.popup #container #content {width:auto; padding:0 10px;}
.popup h3.popTit {float:none; text-align:center;}
.fixLayout {width:1251px !important; margin:0 auto !importnat;}

/* popup > 상황접수 */
.popup_situReceive #wrap {width:auto; min-width:600px;}
.popup_situReceive .first {padding-bottom:10px;}
.popup_situReceive th {line-height:1.2;}
.popup_situReceive td {padding:5px 10px 5px 5px; text-align:left; vertical-align:middle;}
.popup_situReceive td.tit {font-weight:bold; color:#2f8bc0; text-align:center;}
.popup_situReceive td input,
.popup_situReceive td select,
.popup_situReceive td textarea,
.popup_situReceive td img {vertical-align:middle;}
.popup_situReceive td input,
.popup_situReceive td textarea {width:100%;}
.popup_situReceive td.textArea1 textarea,
.popup_situReceive td.textArea2 textarea {height:160px;}
.popup_situReceive td.textArea3 textarea {height:60px;}
.popup_situReceive td input.style1 {width:150px;}
.popup_situReceive td input.style2 {width:68px;}
.popup_situReceive td select {width:60px;}
.popup_situReceive .btnMenu {height:27px; padding:10px 0 0; text-align:right;}
.popup_situReceive .btnMenu li {display:inline;}

/* popup > 상황일지 */
.popup_situPrint .btnMenu {height:27px; padding:11px 13px 0 0; border-bottom:1px solid #368ebe; text-align:right;}
.popup_situPrint .btnMenu li {display:inline;}
.popup_situPrint h1 {height:64px; padding-top:32px; border-top:1px solid #ccc;text-align:center;}
.popup_situPrint .data {padding:0 10px;}
.popup_situPrint .data p.time {text-align:right;}
.popup_situPrint .data p.time span {padding-left:10px; font-weight:bold;}
.popup_situPrint .data table {margin-top:10px;}
.popup_situPrint th {line-height:1.2;}
.popup_situPrint td {padding:8px 10px 7px; text-align:left; line-height:1.4; vertical-align:middle;}
.popup_situPrint td.tit {font-weight:bold; text-align:center;}

@media print{
	.popup_situPrint .btnMenu {display:none;}
	.popup_situPrint h1 {border:none;}
	.popup_situPrint .data {padding:0;}
	.popup_situPrint th,
	.popup_situPrint td {border-color:#999;}
}
