@chartset "utf-8";

/* YBH(2010~) */

@import url("reset.css");

/* default */
a {color:#333; text-decoration:none;}
ul {list-style:none;}

/* common */
.hidden {overflow:hidden; position:absolute; left:-10000px; width:0; height:0; line-height:0; visibility:hidden;}
.hidden_caption {overflow:hidden; width:0; height:0; line-height:0; visibility:hidden;}

.tab {position:relative; z-index:10;}
.tab:after {display:block; clear:both; height:0; visibility:hidden; content:".";}
.tab {*height:1%;}
.tab li {float:left;}

.box_tl,
.box_bl {font-size:0; line-height:0;}

.pageLocation {float:right; padding:10px 20px 0 8px; background:url(../images/content/bu_arrowR_red.gif) no-repeat 0 50%;}

/* layout */
#wrap {color:#333; font-size:75%; font-family:'돋움', dotum;}

/* content */
.overTableWrap {overflow:hidden; position:relative;}
.overTableWrap .overflowBox {overflow:auto;}

/* 로그인 */
.page_login {color:#333; font-size:12px; font-family:'돋움', dotum; text-align:center;}
.page_login .wrap {width:570px; margin:0 auto; padding:80px 0; text-align:left;}
.page_login .txt1 {padding:30px 0 6px;}
.page_login .txt2 {padding-bottom:25px;}

.page_login .loginBox {position:relative; padding-left:255px; height:130px; border:1px solid #ccc;}
.page_login .loginBox legend {position:absolute; left:50px; top:50px;}
.page_login .loginBox dl,
.page_login .loginBox dt {float:left;}
.page_login .loginBox dl {width:235px; padding-top:15px;}
.page_login .loginBox dt {width:60px; padding-top:8px;}
.page_login .loginBox dd {padding-top:3px;}
.page_login .loginBox dd input {width:168px;}
* html .page_login .loginBox dd input {width:165px;}
.page_login .loginBox .btn {float:left; padding-top:18px;}
.page_login .loginBox .join_board {clear:both; padding:30px 30px 0 0; text-align:right;}
.page_login .loginBox .join_board li {display:inline;}

.page_login .vcard,
.page_login .copyright {text-align:center;}
.page_login .vcard {padding-top:45px; line-height:1.2;}

/* 구간별 통계 분석 */
.page_sticsAnaly {width:800px;}
.page_sticsAnaly h1 {clear:both; padding:10px 0 20px;}
.page_sticsAnaly .tab {padding:0;}
.page_sticsAnaly .tab li {padding-right:1px;}
.page_sticsAnaly .tab li a,
.page_sticsAnaly .tab li a span {float:left; background:#fff url(../images/content/tab_sticsAnaly_bg.gif) no-repeat 0 0;}
.page_sticsAnaly .tab li a {padding-left:3px;}
.page_sticsAnaly .tab li a span {width:160px; height:19px; padding:11px 3px 0 0; text-align:center; background-position:right top;}
.page_sticsAnaly .tab li a:focus,
.page_sticsAnaly .tab li a:hover,
.page_sticsAnaly .tab li a.on {background-position:0 bottom;}
.page_sticsAnaly .tab li a:focus span,
.page_sticsAnaly .tab li a:hover span,
.page_sticsAnaly .tab li a.on span {font-weight:bold; background-position:right bottom;}

.page_sticsAnaly .seach {overflow:hidden; position:relative; top:-1px; padding:10px 0 0; border-top:1px solid #b8c8d8;}
.page_sticsAnaly .searchWrap .box_tl,
.page_sticsAnaly .searchWrap .box_tr,
.page_sticsAnaly .searchWrap .box_t,
.page_sticsAnaly .searchWrap .box_bl,
.page_sticsAnaly .searchWrap .box_br,
.page_sticsAnaly .searchWrap .box_b {height:3px; background:url(../images/content/box_roundGray.gif) no-repeat 0 0;}
.page_sticsAnaly .searchWrap .box_tl {padding-left:3px;}
.page_sticsAnaly .searchWrap .box_tr {padding-right:3px; background-position:right top;}
.page_sticsAnaly .searchWrap .box_t {background-repeat:repeat-x; background-position:0 -8px;}
.page_sticsAnaly .searchWrap .box_bl {padding-left:3px; background-position:0 -3px;}
.page_sticsAnaly .searchWrap .box_br {padding-right:3px; background-position:right -3px;}
.page_sticsAnaly .searchWrap .box_b {background-repeat:repeat-x; background-position:left bottom;}
.page_sticsAnaly .searchWrap .box_con {background:url(../images/content/box_roundGray_left.gif) repeat-y 0 0;}
.page_sticsAnaly .searchWrap .box_con_r {padding:0 20px; background:url(../images/content/box_roundGray_right.gif) repeat-y right top;}

.page_sticsAnaly .selectBox1,
.page_sticsAnaly .selectBox2,
.page_sticsAnaly .selectBox3 {_zoom:1; overflow:hidden; border-bottom:1px solid #ccc;}
.page_sticsAnaly .selectBox1 {padding:11px 5px 9px;}
.page_sticsAnaly .selectBox2 {padding:6px 5px;}
.page_sticsAnaly .selectBox3 {padding:6px 5px 4px; border-bottom:none;}

.page_sticsAnaly .selectBox1 p.tit {height:14px; font-weight:bold; vertical-align:top;}
.page_sticsAnaly .selectBox1 ul {float:left; margin-top:-14px; padding-left:120px;}
.page_sticsAnaly .selectBox1 li {float:left; padding-left:20px;}
.page_sticsAnaly .selectBox2 .part2 {padding-top:5px;}
.page_sticsAnaly .selectBox2 .part2 li {float:left; padding-left:20px;}
.page_sticsAnaly .selectBox2 .part1,
.page_sticsAnaly .selectBox3 .part1 {float:left;}
.page_sticsAnaly .selectBox2 .part2,
.page_sticsAnaly .selectBox3 .part2 {float:right;}
.page_sticsAnaly .selectBox3 .part2 li {float:left;}

.page_sticsAnaly .selectBox3 input,
.page_sticsAnaly .selectBox3 select,
.page_sticsAnaly .selectBox3 a {vertical-align:middle;}

.page_sticsAnaly .graph_table {_zoom:1; overflow:hidden; padding:10px 0;}

.page_sticsAnaly .object {float:left; margin-right:10px; border:1px solid #999;}

.page_sticsAnaly .overTableWrap {overflow:auto; float:left; width:266px; height:400px; border:1px solid #999;}
.page_sticsAnaly .overTableWrap .basicTable {width:100%;}

/* 상황실 */
.situRoom_sticsAnaly {width:auto; padding:20px 0; text-align:center;}
.situRoom_sticsAnaly .overTableWrap {width:530px;}
.situRoom_sticsAnaly .situRoom_sticsAnaly_wrap {width:1024px; margin:0 auto; text-align:left;}

/* =table */
.basicTable {border-collapse:collapse; table-layout:fixed;}
.basicTable th,
.basicTable td {padding:7px 0; border:1px solid #ccc; text-align:center; vertical-align:middle;}
.basicTable th {background-color:#c9d8fc;}

/* =form */
.inputText {height:18px; margin:0; border:1px solid #999; color:#333; font-size:12px; font-family:'돋움', dotum; line-height:18px;}
.inputRadio {width:13px; height:13px; margin:-2px 0 0; vertical-align:middle;}
select {margin:0; vertical-align:middle;}

/* for ie 6,7 hack */
* html .inputText {margin:-1px 0;}
*+html .inputText {margin:-1px 0;}
* html .inputRadio {margin-top:0; vertical-align:top;}